@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="bg">

    <div class="container-fluid">

        <div class="row" style="">
            <div class="col-md-12 col-xl-6" id="main-left">
            </div>
            <div class="col-md-12 col-xl-6">
                <div id="row-pic-welcome" class="row" style="">
                    <div class="col-12" style="display: flex;justify-content: flex-end;">
                        <img id="" src="~/images/Pic_Welcome.png" alt="Logo" style="height: auto;width: 100%;max-width: 447px;">
                    </div>
                </div>
                <div class="row" style="justify-content: flex-end;">
                    <div class="col-12">
                        <img src="~/images/PIC_Computer.png" alt="Logo" align="right" style="height:auto;width:100%;max-width:33vw;">
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
